// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-propert


        // Define the physical positions for the 64 logical keys (MX1..MX64)
        // Coordinates are in arbitrary units suitable for ZMK Studio display.
        // The layout follows the default_transform's MX numbering (row-major across
        // 12 columns for the main four rows, then the thumb cluster positions).
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  100   38       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100 1000   25       0     0     0>
            , <&key_physical_attrs 100 100 1100   12       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300   12       0     0     0>
            , <&key_physical_attrs 100 100 1400   38       0     0     0>
            , <&key_physical_attrs 100 100 1500   38       0     0     0>
            , <&key_physical_attrs 100 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  100  138       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100 1000  125       0     0     0>
            , <&key_physical_attrs 100 100 1100  112       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100 1300  112       0     0     0>
            , <&key_physical_attrs 100 100 1400  138       0     0     0>
            , <&key_physical_attrs 100 100 1500  138       0     0     0>
            , <&key_physical_attrs 100 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  100  238       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100 1000  225       0     0     0>
            , <&key_physical_attrs 100 100 1100  212       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1300  212       0     0     0>
            , <&key_physical_attrs 100 100 1400  238       0     0     0>
            , <&key_physical_attrs 100 100 1500  238       0     0     0>
            , <&key_physical_attrs 100 100    0  338       0     0     0>
            , <&key_physical_attrs 100 100  100  338       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100 1000  325       0     0     0>
            , <&key_physical_attrs 100 100 1100  312       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 100 1300  312       0     0     0>
            , <&key_physical_attrs 100 100 1400  338       0     0     0>
            , <&key_physical_attrs 100 100 1500  338       0     0     0>
            , <&key_physical_attrs 100 100  200  412       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100 1200  400       0     0     0>
            , <&key_physical_attrs 100 100 1300  412       0     0     0>
            , <&key_physical_attrs 100 150  350  450    1500   400   800>
            , <&key_physical_attrs 100 150  450  400    1500   400   800>
            , <&key_physical_attrs 100 150 1050  450 (-1500)  1200   800>
            , <&key_physical_attrs 100 150 1150  400 (-1500)  1200   800>
            , <&key_physical_attrs 100 100  500  620       0     0     0>
            , <&key_physical_attrs 100 100  620  610       0     0     0>
            , <&key_physical_attrs 100 100  880  610       0     0     0>
            , <&key_physical_attrs 100 100 1000  620       0     0     0>
            , <&key_physical_attrs 100 100  520  740       0     0     0>
            , <&key_physical_attrs 100 100  630  720       0     0     0>
            , <&key_physical_attrs 100 100  870  720       0     0     0>
            , <&key_physical_attrs 100 100  980  740       0     0     0>
            ;
    };
};
